__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
/venv
.env
.env.*

.DS_Store
.vscode/
.idea/

# Python build/test artifacts
.envrc
.python-version
.tox/
.coverage
htmlcov/
dist/
build/
pip-wheel-metadata/
*.log
/uploads
